/* File: src/style.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* 1. COZY THEME */
    --c-bg: #fff8f3;
    --c-card: #ffffff;
    --c-text: #5d5d5d;
    --c-text-muted: #8d8d8d;
    --c-primary: #e68e8e;
    --c-secondary: #9fb8ad;
    --c-accent: #eac286;
    --c-border: #f3f4f6;

    /* KHUSUS USER BUBBLE (COZY) */
    --c-user-bg: #e68e8e; /* Pink */
    --c-user-text: #ffffff; /* Teks Putih */
}

[data-theme="dark"] {
    /* 2. DARK THEME */
    --c-bg: #0f172a;
    --c-card: #1e293b;
    --c-text: #e2e8f0;
    --c-text-muted: #94a3b8;
    --c-primary: #f472b6;
    --c-secondary: #64748b;
    --c-accent: #fbbf24;
    --c-border: #334155;

    /* KHUSUS USER BUBBLE (DARK) */
    --c-user-bg: #f472b6; /* Pink Neon */
    --c-user-text: #ffffff; /* Teks Putih */
}

[data-theme="focus"] {
    /* 3. FOCUS THEME (High Contrast) */
    --c-bg: #f9fafb;
    --c-card: #ffffff;
    --c-text: #111827;
    --c-text-muted: #4b5563;
    --c-primary: #171717;
    --c-secondary: #525252;
    --c-accent: #262626;
    --c-border: #e5e7eb;

    /* KHUSUS USER BUBBLE (FOCUS - Beda Sendiri) */
    --c-user-bg: #e5e7eb; /* Abu-abu Terang */
    --c-user-text: #111827; /* Teks Hitam Pekat */
}

body {
    background-color: var(--c-bg);
    color: var(--c-text);
    transition:
        background-color 0.4s ease,
        color 0.4s ease;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: var(--c-primary);
    border-radius: 99px;
    opacity: 0.5;
}
